<ion-view view-title="Map">
  <ion-content>
   
<!-- add map to page and bind to scope map parameters -->
<p ng-bind-html="itemInfo.item.snippet"></p>

    <div >
        <div class="row">
        <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="text" placeholder="Address" ng-model="searchString">
      </label>    <button class="button button-assertive" ng-click="search(searchString)">
  Search
</button> 
            </div>
        <esri-map id="map" register-as="myMap" webmap-id="109ef537e31f42868b794f553e4194ce" center="map.center" zoom="map.zoom" item-info="itemInfo" load="mapLoaded">
            
        </esri-map>
        
        
       <ion-footer-bar align-title="left" class="bar-dark" >
      <div class="buttons">
        <button class="button" ng-click="requestModal.show()" ng-show="clicked">Request {{clicked}}</button>
      </div>
     
   
    </ion-footer-bar>

      
  </ion-content>
</ion-view>


