<ion-view view-title="New Parking">
  
  <ion-content>
    <form ng-submit="sendPark()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Address</span>
          <input type="text" ng-model="address">
        </label>
          <label class="item item-input">
          <span class="input-label">Spaces</span>
          <input type="text" ng-model="spaces">
        </label>
          
          <label class="item item-input">
          <span class="input-label">Price</span>
          <input type="text" ng-model="price">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Upload</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>