<ion-view view-title="Playlist">
  <ion-content>
  
	  <div class="list card">

      <!-- User infp -->
  	  <div class="item item-avatar">
  	    <img src="{{ playlist.user.image }} ">
  	    <h2>{{ playlist.user.name }} </h2>
  	    <p>{{ playlist.user.description }}</p>
  	  </div>

      <!-- Parking info -->
      <div class="item item-image">
        <img src="{{ playlist.parking.image }} ">
        <p>
          address: {{ playlist.parking.address }} 
        </p>
        <p>
          limit: {{ playlist.parking.limit }} 
        </p>
      </div>

      <!-- Reviews -->
      <div class="item item-text-wrap" style="text-align: center; width:100%; margin:auto">
       <p>REVIEWS</p>
      </div>

      <!-- List of reviews-->
      <div ng-repeat="review in playlist.reviews">
    	  <div class="item item-avatar">
    	    <img class="full-image" src="{{ review.image }}" >
    	    <p>
    	      {{ review.comment }} 
    	    </p>
          <p>
            {{ review.user }} 
          </p>
          <p>
            {{ review.stars }} stars
          </p>
    	  </div>

      </div>
	</div>

  </ion-content>
</ion-view>
