<ion-view >
  <ion-content has-header>
    <label class="item" ng-if="!isLogged">
        <button class="button button-block button-positive" ng-click="fbLogin()">
        Login with Facebook
        </button>
    </label>
	  <div class="list card" ng-if="isLogged">



      <!-- User infp -->
  	  <div class="item item-avatar">
  	    <img src="{{userProfile.user.image}} ">
  	    <h2>{{ userProfile.user.name }} </h2>
  	    <p>{{ userProfile.user.description }}</p>
  	  </div>

      <!-- Parking info -->
      <div class="item item-image">
        <img src="{{ userProfile.parking.image }} ">
        <p>
          address: {{ userProfile.parking.address }} 
        </p>
        <p>
          limit: {{ userProfile.parking.limit }} 
        </p>
      </div>

      <!-- Reviews -->
      <div class="item item-text-wrap" style="text-align: center; width:100%; margin:auto">
       <p>REVIEWS</p>
      </div>

      <!-- List of reviews-->
      <div ng-repeat="review in userProfile.reviews">
    	  <div class="item item-avatar">
    	    <img class="full-image" src="{{review.image}}" >
    	    <p>
    	      {{ review.comment }} 
    	    </p>
          <p>
            {{ review.user }} 
          </p>
          <p>
            {{ review.stars }} stars
          </p>
    	  </div>

      </div>
	</div>

  </ion-content>
</ion-view>
